version: '3'

services:
  app1:
    build: .
    hostname: APP_01  
    ports:
      - "5001:5000"   

  
  app2:
    build: .
    hostname: APP_02  
    ports:
      - "5002:5000"  

  # Load Balancer
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro 
    ports:
      - "8080:80"
    depends_on:
      - app1
      - app2